In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score as acc
import warnings
warnings.filterwarnings('ignore')

In [53]:
#Load the iris dataset using the "datasets.load_iris()" function and assign the data and target variables to "X" and "Y", respectively.

data = pd.read_csv(r'C:\Users\USER\Documents\Datascience\newproject\churners\iris.data.csv')

In [54]:
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [51]:
data.isnull().sum().sort_values(ascending = False)

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

In [63]:
numerical = data.select_dtypes(exclude  = 'object') # ............. identify the numerical variables
categorical = data.select_dtypes(include = 'object') # ............ Identify the categorical variables

for i in numerical:
  data[i].fillna(data[i].mean(), inplace = True)

for i in categorical:
  data[i].fillna(data[i].mode()[0], inplace = True)
  
data.isnull().sum().sort_values(ascending = False).head(3)

5.1    0
3.5    0
1.4    0
dtype: int64

In [67]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

for i in data.columns:
  data[i] = encoder.fit_transform(data[i])

data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0    6    9    4    1            0
1    4   11    3    1            0
2    3   10    5    1            0
3    7   15    4    1            0
4   11   18    7    3            0

In [105]:
# Define x and y
# Define x and y
x = data.drop(['Iris-setosa'], axis = 1)
y = data['Iris-setosa']

In [106]:
# Split data into train and test
# Notice that i pass in 'y', and not y_trans.
# coz y is still in words, so my prediction will be straight forward
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [107]:
rf_model = RandomForestClassifier()
# Model Creation
rf_model.fit(x_train, y_train)

# Predict the test data for checking accuracy
prediction = rf_model.predict(x_test)

In [112]:
# Save Model
import joblib
joblib.dump(randForest, 'iris_model.pkl')

['iris_model.pkl']

In [110]:
data['Iris-setosa'].value_counts()

1    50
2    50
0    49
Name: Iris-setosa, dtype: int64

In [111]:
%pwd

'C:\\Users\\USER\\Documents\\Datascience\\newproject\\streamlit development\\iris data set predictor'